<% include partials/_header %>

<% include partials/_nav %>

<div class="container">

    <h1>CRUD BARBARO</h1>

    <% 
        var titulo = '';
        var descripcion = '';
        var id_Tarea = '';

        if(!nuevo) { titulo=ID.titulo; descripcion=ID.descripcion; id_Tarea = '/'+ID._id;};
    %> 

    <div class="row">
        <div class="col-md-5">
            <form action="/action<%= id_Tarea %>" method="POST">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" value="<%= titulo %>" placeholder="Introduzca la tarea" />
                </div>

                <div class="form-group">
                    <textarea type="text" name="descripcion" class="form-control" placeholder="Introduzca la descripción de la tarea"><%= descripcion %></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block" title="Agregar esta tarea">Agregar Tarea</button>

            </form>
        </div>

        <div class="card col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Operación</th>
                    </tr>
                </thead>
                <tbody>
                    <% tasks.map(function(task, indice){ %>
                        <tr>
                            <th scope="row"><%= indice + 1 %></th>
                            <td><%= task.titulo %></td>
                            <td><%= task.descripcion %></td>
                            <td>
                                <a href="/cambiar-estado/<%= task._id %>" class="btn btn-<%= !task.status ? 'dark' : 'success' %>" title="Cambiar estado de la tarea">Cambiar</a>
                                <a href="/eliminar/<%= task._id %>" class="btn btn-danger" title="Eliminar esta tarea">Eliminar</a>
                                <a href="/?ID=<%= task._id %>" class="btn btn-info" title="Editar esta tarea">Editar</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </div>

</div>

<% include partials/_footer %>